/* Write your CSS here */
.container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter {
  color: #c20a72;
}
.heading {
  font-size: 35px;
  font-family: 'Roboto';
  color: #2d3a35;
  margin-bottom: 5px;
}
.paragraph {
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-bottom: 5px;
}
.btn {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
